.container-feedback#container-feedback
  h2.title-container Retroalimentación
  .option.active
    label(data-input="checkbox") 
      input(type="checkbox", name="feedback" id="feedback" data-input="checkbox" checked)
      |  Retroalimentación
  .option
    button.button Agregar retroalimentación nueva