section.container-feedback#container-feedback
  h2.title-container Retroalimentación
  .option.active
    label(data-input="checkbox") 
      input(type="checkbox", name="feedback" id="feedback" data-input="checkbox" checked)
      |  Retroalimentación
  .option
    a(href="#")#btn-add-feed.button Agregar retroalimentación nueva
  .add-feed#add-feed-container
    //- h3.add-feed__title Agregar comentarios   
    //- span.add-new-comment#add-new-comment +
    //- .add-feed__input
    //-   label(for="tag") Tag
    //-   input(type="text", placeholder="Agregar titulo del comentario nuevo")#tag
    //- .add-feed__description
    //-   .add-feed__input
    //-     label(for="0eval") 0%
    //-     input(type="text",placeholder="0% de evaluación")#0eval
    //-   .add-feed__input
    //-     label(for="100eval") 100%
    //-     input(type="text", placeholder="100% de evaluación")#100eval
    //-   .btn-save
    //-     span.button Cancelar
    //-     span.button Guardar