section.container-greeting#container-greeting
  h2.title-container Saludo
  .option.name-to
    label(for="name-user") Nombre 
      input(type="text" id="name-user")
  .option.active
    label(data-input="checkbox")
      input(type="checkbox", name="greeting" id="greeting" checked  data-input="checkbox") 
      |  Saludo
  form#form-greeting