section#container-message
  .message
    h2.title-container Mensaje final
    textarea(name="message", cols="30", rows="20" placeholder="Mensaje de retroalimentación" id="textarea-message")
    .container-btn
      a(href="#")#copy.button copiar a la papelera
      a(href="#")#save.button Guardar temporalmente
      a(href="#")#clear.button Limpiar campos
      a(href="#")#reset.button Reset