.container-message#container-message
  h2.title-container Mensaje final
  textarea(name="", cols="30", rows="20" placeholder="Mensaje de retroalimentación" id="textarea-message")
  button.button copiar a la papelera