section.container-phrase#container-phrase
  h2.title-container Frase motivadora
  .option.active
    label(data-input="checkbox")
      input(type="checkbox", name="phrase" id="phrase" data-input="checkbox" checked)
      |  Frase motivadora
  form#form-phrase