section.container-resources#container-resources(style="display:none")
  h2.title-container Recursos
  .option.active
    label(data-input="checkbox") 
      input(type="checkbox", id="goodbye" data-input="checkbox" checked)
      |  Recursos
  form#form-resource