section.container-signing#container-sign
  h2.title-container Firma
  form#container-sign.option.active
    label(data-input="checkbox")
      input(type="checkbox", name="sign" id="sign" checked data-input="checkbox")
      |  Firma
  #form-sign