meta(property='og:type', content='product')
meta(property='og:title', content='Feedback Generator X')
meta(property='og:url', content='https://www.alejandro-leyva.com/feedback-generator-x')
meta(property='og:image', content='https://www.alejandro-leyva.com/assets/imgs/perfil.jpg')
meta(property='product:price:amount', content='0.00')
meta(property='product:price:currency', content='USD')

meta(name='twitter:card', content='app')
meta(name='twitter:site', content='@xizuth_tech')
meta(name='twitter:description', content='App auxiliar de generación de retroalimentación de actividades y tareas, inspirado en la rubrica de Prepa línea SEP.')


