div(itemscope='', itemtype='http://schema.org/SoftwareApplication')
  span(itemprop='name') Feedback generator - 
  span(itemprop='applicationCategory') Education - Requires 
  span(itemprop='operatingSystem') Web app (Chrome)  
  span(itemprop='aggregateRating', itemscope='', itemtype='http://schema.org/AggregateRating') Rating  - 
    span(itemprop='ratingValue') 5 (
    span(itemprop='ratingCount') 100 ratings) 
  span(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
    span(itemprop='priceCurrency', content='USD') Price: 0 - 
    span(itemprop='price') $0.00
    br