<!DOCTYPE html>
html(lang="mx")
  head
    include templates/_blocks/meta
    include templates/_blocks/open
    include templates/_blocks/icon
    include templates/_blocks/ad
    title Feedback Generator X | Alejandro Leyva
  body
    main.main
      h1.title-main Generador de Retroalimentación X
      .container
        section.container-information
          include templates/body/hello
          include templates/body/feedback
          include templates/body/resources
          include templates/body/phrase
          include templates/body/goodbye
          include templates/body/sign 
        section.container-message
          include templates/body/message
          include templates/body/saved-message
    include templates/footer
    script(src="./js/main.js" async="")
