.title-main,
.title-container {
    width: 100%;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
    background: var(--color-black);
    color: white;
}

.title-container {
    padding: 1rem 0;
    font-weight: normal;
    margin: 1rem 0;
    text-transform: capitalize;
}

.container {
    display: flex;
    @media screen and (max-width: $break-medium) {
        flex-direction: column;
    }
}

.container-information,
.container-message {
    height: 100vh;
    overflow: auto;
    width: 50%;
    padding: 0 1rem;
    @media screen and (max-width: $break-medium) {
        height: auto;
        overflow: scroll;
        width: 100%;
    }
}

textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    resize: none;
    overflow-y: auto;
}

[type="text"] {
    font-size: 1rem;
}

.name-to {
    background-color: rgb(190, 187, 187);
    padding: .5rem .3rem;
    margin-bottom: .5rem;
    label {
        margin-right: .3rem;
        display: flex;
        width: 100%;
    }
    input {
        margin-left: .3rem;
        flex: auto;
    }
}

.option {
    padding-bottom: .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    .erase {
        display: none;
        position: absolute;
        background: tomato;
        border-radius: 7px;
        color: white;
        cursor: pointer;
        padding: 0 .5rem;
    }
    &:hover>.erase {
        display: inline-block;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        &.btn-inactive {
            display: none;
        }
    }
}

.erase.btn-inactive {
    display: none;
    &:hover {
        display: none;
    }
}

.label-feed {
    &:hover .erase {
        position: static;
        display: inline-block;
    }
}

.slider>input {
    width: 100%;
}

label {
    text-transform: capitalize;
    white-space: nowrap;
}

.new-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label,
    [type="radio"] {
        margin-right: .2rem;
        white-space: nowrap;
    }
    [type="text"] {
        width: 100%;
        margin-right: .2rem;
    }
}

.active {
    background: white;
    padding: .5rem 0;
    border-radius: 5px;
    margin: 0 0 .5rem 0;
}

.message-saved {
    font-size: 1.1rem;
}

[data-sign] {
    margin-left: .5rem;
    font-weight: 900;
    position: relative;
    letter-spacing: 1px;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: var(--color-black);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}