.button {
    font-size: 1rem;
    padding: .2rem .5rem;
    display: inline-block;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    cursor: pointer;
    &:hover {
        background: var(--color-black);
        color: white;
    }
}

.container-btn {
    padding: .5rem 0;
    display: flex;
    & a {
        flex: auto;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 .3rem;
    }
    @media screen and (max-width: 420px) {
        flex-wrap: wrap;
        & a {
            margin: .3rem 0;
            width: 100%;
        }
    }
}

.btn-inactive {
    display: none;
}